.container{
    display: flex;
    flex-direction: column;
    background-color: #8080806b;
    margin: 2em 0em;
    .header{
        margin: 10px 0px;
        padding-left: 10px;
        p{
            font-size: 16px;
        };
    };
    .table{

    };
    .footer{
        margin: 10px 0px;
        font-size: 16px;
        padding-left: 10px;
    }
}

.no-data-state{
    text-align: center
}